.popup {
  font-family: Roboto, sans-serif;
  max-width: 500px;
  padding: 20px 75px;
  
  &__title {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #303551;
    padding: 15px 0;
  }

  &__subtitle {
    font-size: 18px;
    text-align: center;
    color: #858484;
    padding: 15px 0 25px;
  }

  &__buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
}
